/* Announcement bar */
#announcements li[data-name="QoL"] {
  cursor: pointer;
}
/* Shared styles */
.collapsible {
  cursor: pointer;
  padding: 4px;
  width: 100%;
  text-align: left;
  max-width: 600px;
  position: relative;
  border-radius: 6px;
}
/* Style the collapsible content. Note: hidden by default */
.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
