/* QoL Settings Hub */
.qolHubSuperHead:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.qolHubHead {
  text-align: center;
  padding: 4px;
  margin: 0;
  text-align: center;
}
.qolAllSettings {
  width: 315px;
  height: 100%;
  border-top: none;
  vertical-align: top;
}
.qolChangeLog {
  width: 315px;
  height: 100%;
  border-top: none;
}
.qolAllSettings>ul {
  list-style-type: none;
  padding: 0px;
  vertical-align: top;
}
.qolHubTable {
  border-spacing: 0px 0px;
  border-collapse: collapse;
  width: 100%;
}
.qolChangeLogList {
  text-align: left;
  padding: 4px;
  margin: 0;
  text-align: center;
}
.qolChangeLogContent {
  list-style-type: disc;
  display: none;
}
.expandlist {
  font-size: 16px;
  text-align: center;
  list-style-type: none;
}
.slidermenu {
  cursor: pointer;
}
.qolChangeLogHead {
  margin: 0px;
}
.closeHub {
  text-align: right;
  margin: 0px 10px 0px 0px;
  font-size: 20px;
  cursor: pointer;
}