/* QoL Settings Hub */
.qolHubModal textarea {
    width: 100%;
    box-sizing: border-box;
}
#qolStorageOutput {
  user-select: all; 
  word-break:break-all; 
  border: 1px solid; 
  padding: 3px;
  max-height: 100px;
  overflow-y: auto;
}
#qolConsoleContent {
  word-break: break-all;
}