<div id="fieldorder">
  <label>
    <input type="checkbox" class="qolsetting qolalone" data-key="fieldByBerry"/>
    Sort by berries
  </label>
  <label>
    <input type="checkbox" class="qolsetting qolalone" data-key="fieldByMiddle"/>
    Sort in the middle
  </label>
  <label>
    <input type="checkbox" class="qolsetting qolalone" data-key="fieldByGrid"/>
    Align to grid
  </label>
  <label>
    <input type="checkbox" class="qolsetting" data-key="fieldClickCount"/>
    Click counter
  </label>
</div>
<div id=tooltipenable>
  <button type="button" class="collapsible">Tooltip Settings</button>
  <div class="collapsible_content">
    <table>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting tooltipsetting" data-key="tooltipEnableMods"/>
            Enable QoL Tooltip Changes
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting tooltipsetting" data-key="tooltipNoBerry"/>
            Enable tooltip<br>(No berry selected)
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting tooltipsetting" data-key="tooltipBerry"/>
            Enable tooltip<br>(Berry selected)
          </label>
        </td>
      </tr>
    </table>
  </div>
</div>