<div id="fieldorder">
  <label>
    <input type="checkbox" class="qolsetting qolalone" data-key="fieldByBerry"/>
    Sort by berries
  </label>
  <label>
    <input type="checkbox" class="qolsetting qolalone" data-key="fieldByMiddle"/>
    Sort in the middle
  </label>
  <label>
    <input type="checkbox" class="qolsetting qolalone" data-key="fieldByGrid"/>
    Align to grid
  </label>
  <label>
    <input type="checkbox" class="qolsetting" data-key="fieldClickCount"/>
    Click counter
  </label>
</div>
