<div id ="fieldsearch">
  <h4>Advanced Field search</h4>
  <p> Check the boxes of Pokémon you wish to find in this field! You can select multiple checkboxes at once and it will notify you whenever it will find the types of Pokémons you selected!</p>
  <table>
    <tbody>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldShiny"/>Shiny
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldAlbino"/>Albino
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldMelanistic"/>Melanistic
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldPrehistoric"/>Prehistoric
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldDelta"/>Delta
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldMega"/>Mega
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldStarter"/>Starter
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldCustomSprite"/>Custom Sprite
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldItem"/>Holds Item
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <h4>Search on type</h4>
  <p>Select which types of Pokémon you wish to find</p>
  <input type='button' value='Add type' id='addPrivateFieldTypeList'>
  <div id="fieldTypes">
    <div class='0'></div>
  </div>
  <h4>Search on nature</h4>
  <p>Select which natures of Pokémon you wish to find</p>
  <input type='button' value='Add nature' id='addPrivateFieldNatureSearch'>
  <div id="natureTypes">
    <div class='0'></div>
  </div>
  <h4>Search on egg group</h4>
  <p>Select which egg groups you wish to find</p>
  <input type='button' value='Add egg group' id='addPrivateFieldEggGroupSearch'>
  <div id="eggGroupTypes">
    <div class='0'></div>
  </div>
  <h4>Search on gender</h4>
  <table>
    <tbody>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldMale"/>Male
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldFemale"/>Female
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" class="qolsetting" data-key="fieldNoGender"/>Genderless
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
