<div id=tooltipenable>
  <button type="button" class="collapsible"><b>Tooltip Settings</b></button>
  <div class="collapsible_content">
    <span> The "Enable tooltip" settings force the tooltip on or off. To revert back to Pokefarm's default tooltip settings, uncheck "Enable QoL Tooltip Changes" and refresh the page.</span>
    <hr>
    <table>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting tooltipsetting" data-key="tooltipEnableMods"/>
            Enable QoL Tooltip Settings
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <input type="checkbox" class="qolsetting tooltipsetting" data-key="tooltipNoBerry"/>
            Hide tooltip
          </label>
        </td>
      </tr>
    </table>
  </div>
</div>
